@import 'tailwindcss';
@plugin 'flowbite/plugin';
@plugin 'tailwind-scrollbar';
.text-preset-1 {
  @apply font-bold text-[2rem] leading-[120%];
}

.text-preset-2 {
  @apply font-bold text-[1.25rem] leading-[120%];
}

.text-preset-3 {
  @apply font-bold text-[1rem] leading-[150%];
}

.text-preset-4 {
  @apply text-[0.875rem] leading-[150%];
}

.text-preset-4-bold {
  @apply font-bold text-[0.875rem] leading-[150%];
}

.text-preset-5 {
  @apply text-[0.75rem] leading-[150%];
}

.text-preset-5-bold {
  @apply font-bold text-[0.75rem] leading-[150%];
}

.btn-dark {
  @apply bg-grey-900 text-white py-4 flex items-center justify-center rounded-lg hover:bg-grey-500;
}

.nav-sidebar {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  height: 100%;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-x: hidden;
}

.nav-sidebar--minimized {
  width: 120px;
  padding-right: 1rem;
}

.nav-sidebar--maximized {
  width: 300px;
}
